.search-bar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    .search-bar-left {
        margin-right: auto;
        align-self: left;
        padding: 0.2em;
    }
    .search-bar-input {
        background: $surface;
    }
    .search-bar-right {
        margin-left: auto;
        align-self: right;
        padding: 0.2em;
    }
}
